
form {
    margin: 0px;
}

form > input {
    text-align: right;
    width : 70px;
    padding-right: 10px;
    /* For Firefox */
    -moz-appearance: textfield;
}

/* For all browsers */
form > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form > button {
    display: flex;
    margin-top: 10px;
}

.output {
    font-family: monospace;
        margin-top: 10px;
}